#page-content {
    margin: 50px 0 0 122px;
}

#add-patient-div {
    display: flex;
    justify-content: flex-end;

    /*margin-right: 100px;*/
    margin-bottom: 20px;
}

.create-patient-button {
    padding: 10px 20px;
    background-color: #A8FDA0;
    color: black;
    border: none;
    font-size: x-large;
    border-radius: 30px;
    cursor: pointer;

    margin-top: 10px;
}

.gender-text {
    font-size: x-large;
}

.react-dadata__input {
    font-family: "Playfair Display", serif;
    border-radius: 15px !important;
    background: rgba(217, 217, 217, 0.40) !important;
    border-color: rgba(217, 217, 217, 0.40) !important;

    width: 102% !important;
    height: 35px !important;
    padding-left: 10px !important;
    font-size: x-large !important;

    display: inline !important;
    padding-right: 0 !important;
}