.search-item {
    display: grid;
    grid-template-columns: auto 1fr;

    align-items: center;

    color: #0F2028;
    margin: 0 auto 0 100px;
}

#input-field {
    /*width: 100%;*/
    border-radius: 40px;
    padding-left: 20px;
    font-size: x-large;
    background-color: #D0EFEF;
    border: none;
}

#input-field:focus {
    outline: none;
}

#input-block {
    /*width: 100%;*/
    display: grid;
    grid-template-columns: 1fr auto;

    vertical-align: center;

    border-radius: 40px;
    padding-left: 20px;
    background-color: #D0EFEF;
    margin-right: 100px;
    margin-left: 20px;
    height: 30px;
}

#input-icon {
    padding-top: 5px;
    padding-right: 15px;
    width: 20px;
    height: 20px;

    align-content: center;
}

#input-icon:hover {
    cursor: pointer;
}