#result-placeholder {
    font-size: x-large;
    font-weight: bold;
    align-items: center;
    color: #0F2028;
    max-width: 1241px;
    margin-left: 100px;
}

#search-page {
    background-color: #FFFFFF;
}

#non-search-wrapper {
}