#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0F2028;
}

#header h1 {
    margin: 0;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#header h2 {
    font-size: 30px;
    margin: 0;
    height: 30px;
    font-weight: normal;
}

#header h3 {
    margin: 0;
    font-weight: normal;
}

#secondTitle {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    align-items: flex-end;
}

.menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-item {
    display: inline-block;
    margin: 0 100px;
    font-size: x-large;
}

.menu-item:hover {
    cursor: pointer;
}

.menu-item.selected {
    font-weight: bold;
}